@media screen{
    body {
        background-color: white;
    }
    a{ text-decoration: underline; }
    h1{font-size:190%;}
    .down{width:80%; max-width: 700px;}
    .log{border:0; width:90%; max-width: 500px;}
    .links{font-size:90%; width: 70%;max-width:350px;}
    .pic {width: 70%;}
    .cake{width: 70%;}
    .linklog{width: 30%;}
}
@media screen and (max-device-width:480px){
    body {
        background-color: white;
    }
    h1{font-size: 50px;}
    .font{font-size: 150%;}
    a{ text-decoration: underline; }

    .log{border:0; width:450px;}
    .pic {width: 400px;}
    .down{width:900px;  font-size: 30px;}
    .cake{width: 300px;}
    .links{font-size:100%; width: 100%;}
    .linklog{width: 30%;}
}
