@media screen{
    body {
        background-color: white;
    }
    a{ text-decoration: underline; }
    div { width:100%}
}
@media screen and (max-device-width:480px){
    body {
        background-color: white;
    }
    a{ text-decoration: underline; }
    div{ width='150%'}
    table{width:100%}
}